@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --white-color: #ffffff;
  --primary-color:#3B141C;
  --dark-color: #252525;
  --secondary-color: #f3961C;
  --medium-gray-color: #CCC;
  --light-pink-color: #FAF4F5;
}

  
header {
    background: var (--primary-color);
}
.navbar

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
}
